:root{
    --main-bg-color:rgb(250,250,250);
    --main-ac-color:color_1;
}


#main{
    background-color:var(--main-bg-color);
    font-family: "Noto Sans KR", sans-serif;

}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#addressList{
    font-size:1vw;
    color:rgb(30,30,30);
}



#dnbtn{

}

.logo{
    display: flex;
    justify-content: center;
    padding:50px;
}

.line{
    border-top:3px solid rgb(240,240,240);
    margin-bottom:20px;
}

.myaddress{
    text-align: center;
    
}
#pininfo{
    color:red;
}
#maptext{
    width:25vw;
    img{
        width:20vw;
    }

}
.zip{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.graphzip{
    display:flex;
    position:absolute;
    align-items: center;
}
#graph{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:25vw;
    height: 15vw;
    background-color:var(--main-bg-color);
    border-radius: 20px;
    padding:25px;
    box-shadow: 1px 1px 50px rgb(150,150,150);
}
#map{
    border-radius: 20px;
    width:56vw;
    height:30vw;
    float:left;
    box-shadow: 1px 1px 50px rgb(150,150,150);
    margin:0vw 2vw 0vw 0vw;
}

#myChart{
    width:28vw;
    height:28vw;
}
#myChart2{
    width:28vw;
    height:28vw;
}


#lineh{
    border-left : thick solid rgb(230,230,230);
    height:28vw;
}
#info{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:25vw;
    height: 15vw;
    background-color:var(--main-bg-color);
    border-radius: 20px;
    padding:25px;
    box-shadow: 1px 1px 50px rgb(150,150,150);
}
#infotop{
    overflow:auto;

    text-align: left;
    width:25vw;
    height: 15vw;
    background-color:var(--main-bg-color);
    border-radius: 20px;
    padding:25px;
    box-shadow: 1px 1px 50px rgb(150,150,150);
}


a{
    color:black;
    text-decoration-line:none;
}
.infobox{
    display: flex;
}
#infotext{
    position:absolute;
    transform: translate(-50%,-50%);
}
.maper{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    margin:2vw; 

}

#title{
    color:rgb(255,227,76);
    text-align: center;
}
marker{
    background-color:blue;
}
