*{
    font-family: "Jua", sans-serif;
    margin:0px;

}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo{
    display: flex;
    justify-content: center;
    padding:50px;
}

.line{
    border-top:3px solid rgb(240,240,240);
    margin-bottom:50px;
}

.myaddress{
    text-align: center;
    
}

#maptext{
    width:25vw;
    img{
        width:20vw;
    }

}


#map{
    border-radius: 20px;
    width:30vw;
    height:30vw;
    float:left;
    box-shadow: 1px 1px 50px rgb(150,150,150);
}
#myChart{
    width:28vw;
    height:28vw;
    
}
#lineh{
    border-left : thick solid rgb(230,230,230);
    height:28vw;
}
#theme{

}
#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:56vw;
    height: 28vw;
    background-color: white;
    border-radius: 20px;
    padding:25px;
    box-shadow: 1px 1px 50px rgb(150,150,150);
}
.infobox{
    display: flex;
}
#infotext{
    position:absolute;
    transform: translate(-50%,-50%);
}
.mapzip{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    margin:0px 10px 
}
.button{
     margin-bottom:20px;
}
.maper{
    left:10%;
}

#title{
    color:rgb(255,227,76);
    text-align: center;
}
marker{
    background-color:blue;
}
